$darkCyan: hsl(185, 75%, 39%);
$VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);

$fontSize-400: 1.125rem; /* 18px */ /* base */

$fontWeight-400: 500; /* base */
$fontWeight-500: 700;
